
// Make text input fields a bit taller
input[type=text]
  height: 2em

// Set a minimum width on dropdowns, or they will be exactly as wide as the text
.dropdown-toggle
  min-width: 8em

button.dropdown-toggle
  height: 2em

.dropdown-toggle > .icon-caret-down
  float: right
  position: relative
  top: 3px
  left: 3px

#progress-div
  margin-top: 10px

  & > .progress
    margin-bottom: 0px


.dropdown-toggle span:first-child
  float: left

// A little offset is needed on the icons in the buttons on the top or they look malplaced
#example_buttons i, #language_buttons i, #btn_install i, #btn_submit i, #show_query i
  margin-top: 3px
  margin-left: -3px

// The results table styling
// If tags are not viewed, they get the extra class .disabled
#result
  .tag_outline:not(.disabled) > * > .table
    margin-bottom: 0px

  .hide
    display: none

  .disabled > .tag_closed
    line-height: 2.6em

  .tag_xmlbutton
    font-family: monospace
    float: right

  .tag_header, .tag_footer, .tag_closed
    // from bootstrap .code
    font-family: monospace
    // from code mirror .cm-tag
    color: #170

  .tag_header, .tag_closed, .tag_footer, .tag_xmlbutton
    cursor: pointer

  .tag_footer.disabled, .tag_xmlbutton.disabled, .tag_header.disabled, .tag_floatfix.disabled
    display: none

  .tag_outline.disabled, .table_bordered.disabled
    border: none

  .tag_outline:not(.disabled)
    border: 1px solid #ddd
    margin-top: 3px
    padding: 3px

  .tag_header:before
    content: "<"
  .tag_header:after
    content: ">"

  .tag_footer
    float: right
  .tag_footer:before
    content: "</"
  .tag_footer:after
    content: ">"

  .tag_closed:before
    content: "<"
  .tag_closed:after
    content: "/>"

  // from cm-attribute
  .name
    color: #00c

  // from cm-string
  .value
    color: #a11

  .name:after
    content: "="
  .value:before
    content: '"'
  .value:after
    content: '"'
  .name
    padding-left: 0.4em


// To view <pre> tags without bootstrap styling, use  this class
.original-pre
  background-color: inherit
  font-size: inherit
  border: none
  padding: 0

iframe
  border: none
  height: 90px
  width: 850px
