input[type=text] {
  height: 2em; }

button.dropdown-toggle {
  height: 2em; }

hr {
  margin: 0 0 1em; }

#example_buttons i, #language_buttons i, #btn_install i, #btn_submit i, #show_query i {
  margin-top: 3px;
  margin-left: -3px; }

.table {
  margin-bottom: 0px; }

#result .tag_header, #result .tag_footer, #result .tag_closed {
  font-family: monospace;
  color: #117700; }
#result .tag_header, #result .tag_closed, #result .tag_footer {
  cursor: pointer; }
#result .tag_outline {
  border: 1px solid gray;
  margin-top: 3px;
  padding: 3px; }
#result .tag_header:before {
  content: "<"; }
#result .tag_header:after {
  content: ">"; }
#result .tag_footer {
  float: right; }
#result .tag_footer:before {
  content: "</"; }
#result .tag_footer:after {
  content: ">"; }
#result .tag_closed:before {
  content: "<"; }
#result .tag_closed:after {
  content: "/>"; }
#result .name {
  color: #0000cc; }
#result .value {
  color: #aa1111; }
#result .name:after {
  content: "="; }
#result .value:before {
  content: '"'; }
#result .value:after {
  content: '"'; }
#result .name {
  padding-left: 0.4em; }

.row-button {
  margin-left: 0.5em;
  padding: 0.45em 0.5em 0.2em; }

.dropdown-toggle > .icon-caret-down {
  float: right;
  position: relative;
  top: 3px;
  left: 3px; }

.dropdown-toggle span:first-child {
  float: left; }

.dropdown-toggle {
  min-width: 8em; }

.original-pre {
  background-color: inherit;
  font-size: inherit;
  border: none;
  padding: 0; }

svg {
  border: none; }

.sentnum {
  display: none; }
