input[type=text] {
  height: 2em; }

.dropdown-toggle {
  min-width: 8em; }

button.dropdown-toggle {
  height: 2em; }

.dropdown-toggle > .icon-caret-down {
  float: right;
  position: relative;
  top: 3px;
  left: 3px; }

.dropdown-toggle span:first-child {
  float: left; }

#example_buttons i, #language_buttons i, #btn_install i, #btn_submit i, #show_query i {
  margin-top: 3px;
  margin-left: -3px; }

#result .tag_outline:not(.disabled) > * > .table {
  margin-bottom: 0px; }
#result .hide {
  display: none; }
#result .disabled > .tag_closed {
  line-height: 2.6em; }
#result .tag_xmlbutton {
  font-family: monospace;
  float: right; }
#result .tag_header, #result .tag_footer, #result .tag_closed {
  font-family: monospace;
  color: #117700; }
#result .tag_header, #result .tag_closed, #result .tag_footer, #result .tag_xmlbutton {
  cursor: pointer; }
#result .tag_footer.disabled, #result .tag_xmlbutton.disabled, #result .tag_header.disabled, #result .tag_floatfix.disabled {
  display: none; }
#result .tag_outline.disabled, #result .table_bordered.disabled {
  border: none; }
#result .tag_outline:not(.disabled) {
  border: 1px solid #dddddd;
  margin-top: 3px;
  padding: 3px; }
#result .tag_header:before {
  content: "<"; }
#result .tag_header:after {
  content: ">"; }
#result .tag_footer {
  float: right; }
#result .tag_footer:before {
  content: "</"; }
#result .tag_footer:after {
  content: ">"; }
#result .tag_closed:before {
  content: "<"; }
#result .tag_closed:after {
  content: "/>"; }
#result .name {
  color: #0000cc; }
#result .value {
  color: #aa1111; }
#result .name:after {
  content: "="; }
#result .value:before {
  content: '"'; }
#result .value:after {
  content: '"'; }
#result .name {
  padding-left: 0.4em; }

.original-pre {
  background-color: inherit;
  font-size: inherit;
  border: none;
  padding: 0; }

iframe {
  border: none;
  height: 90px;
  width: 850px; }
