body {
  padding: 10px; }

#settings {
  /* Main flow */
  /* Titles */
  /* Input boxes */
  /* Buttons */
  /* Items in array: put button after title */
  /* Put remove button after complex items */
  /* Descriptions */
  /* Items */
  /* Selects */
  /* Drop-downs */
  /* Simple objects: objects that only contain strings.
   * Example: Word segmentation positional attributes */ }
  #settings > .inner > .nest {
    padding-top: 15px;
    padding-bottom: 15px; }
    #settings > .inner > .nest:not(:last-child) {
      border-bottom: 1px #cccccc solid; }
    #settings > .inner > .nest > .title {
      display: inline-block;
      vertical-align: top;
      text-align: right;
      width: 180px;
      margin-right: 10px; }
    #settings > .inner > .nest > .inner {
      display: inline-block; }
    #settings > .inner > .nest > .object-title {
      padding-top: 3px; }
    #settings > .inner > .nest > .string-title {
      padding-top: 4px; }
    #settings > .inner > .nest > .union-title, #settings > .inner > .nest > .multi-enum-title {
      padding-top: 5px; }
  #settings > .title {
    display: none; }
  #settings .title {
    font-weight: bold; }
  #settings .nest .nest .string-title {
    font-weight: normal;
    display: inline;
    margin-right: 5px;
    text-align: right; }
  #settings .string-title:after {
    content: ": "; }
  #settings .union-child > .title {
    display: none !important; }
  #settings .nest .nest .string {
    display: inline; }
  #settings .string-inner {
    display: inline; }
  #settings input[type=text] {
    height: 2em;
    margin-bottom: 0px; }
  #settings .item > .string > .inner > input[type=text] {
    margin-right: 4px; }
  #settings .item-btn {
    padding: 0.45em 0.5em 0.2em 0.5em; }
  #settings .array > .item-btn {
    margin-bottom: 5px; }
  #settings .array > .title {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 5px; }
  #settings .array > .inner {
    display: inline; }
  #settings .array > .inner > .items {
    display: block; }
  #settings .nest .nest .item-add-btn {
    margin-top: 5px; }
  #settings .nest .nest .array-title {
    padding-top: 3px; }
  #settings .item > .complex-object {
    display: inline-block;
    margin-right: 5px; }
  #settings .description {
    display: none; }
  #settings .only .description {
    display: inline; }
  #settings .item {
    margin-top: 5px;
    margin-bottom: 5px; }
  #settings .item:last-child {
    margin-bottom: 0px; }
  #settings .item > .complex-object {
    border: 1px #cccccc solid;
    padding: 10px;
    margin-right: 7px; }
    #settings .item > .complex-object:not(first-child) {
      margin-top: 5px; }
    #settings .item > .complex-object:not(last-child) {
      margin-bottom: 5px; }
  #settings .select-parent {
    padding-bottom: 5px; }
  #settings .dropdown-enum {
    display: inline;
    padding: 6px; }
    #settings .dropdown-enum > .inner {
      display: inline; }
      #settings .dropdown-enum > .inner > .select-parent {
        display: inline; }
    #settings .dropdown-enum > .title {
      display: inline; }
  #settings .simple-object {
    display: inline;
    border: 0; }
    #settings .simple-object > .inner {
      display: inline; }
    #settings .simple-object > .title {
      display: inline;
      font-weight: normal;
      font-size: 1em; }
      #settings .simple-object > .title:after {
        content: ": "; }
    #settings .simple-object > .inner > .nest > .title {
      display: none; }
