[submodule "frontend/lib/jquery-ajaxprogress"]
	path = frontend/lib/jquery-ajaxprogress
	url = https://github.com/kpozin/jquery-ajaxprogress.git
[submodule "frontend/lib/jquery-waypoints"]
	path = frontend/lib/jquery-waypoints
	url = https://github.com/imakewebthings/jquery-waypoints.git
[submodule "frontend/deptrees/lib/brat"]
	path = frontend/deptrees/lib/brat
	url = https://github.com/nlplab/brat.git
[submodule "frontend/lib/jquery-svg"]
	path = frontend/lib/jquery-svg
	url = https://github.com/kbwood/svg.git
[submodule "frontend/deptrees/lib/jquery-color"]
	path = frontend/deptrees/lib/jquery-color
	url = https://github.com/jquery/jquery-color.git
[submodule "frontend/lib/jquery-reject"]
	path = frontend/lib/jquery-reject
	url = https://github.com/TurnWheel/jReject.git
[submodule "frontend/lib/jquery-bbq"]
	path = frontend/lib/jquery-bbq
	url = https://github.com/cowboy/jquery-bbq.git
