# Options +ExecCGI
# AddHandler wsgi-script .wsgi

<IfModule mod_rewrite.c>
  RewriteEngine Off
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^([^/]*)$ index.html [QSA,PT,L]                
</IfModule>
