<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html ng-app="formModule">
  <head>
    <script type="text/javascript" src="lib/underscore.js"></script>
    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <!--
        <script type="text/javascript" src="scopes.js"></script>
        -->
  </head>
  <body>
    <div ng-controller="MainCtrl">
      <form>
        <div ng-include="'form_item'"></div>
      </form>
    </div>

    <!-- takes value, schema -->
    <script type="text/ng-template" id="form_item">
      <div>
        {{schema.title}}
        <pre>schema = {{schema | json}}</pre>
        <pre>value = {{value | json}}</pre>

        <div ng-show="schema.type == 'string'">
          <input ng-model="value"> (outside switch)
        </div>

        <ng-switch on="schema.type">
          <input ng-switch-when="bool" ng-model="value" type="checkbox">

          <div ng-switch-when="string">
            <!-- not an enum -->
            <span ng-repeat="e in schema.enum">
              <input type="radio" ng-model="value" value="{{e}}">
              <label>{{e}}</label>
            </span>
            <input ng-model="value">
          </div>

          <div ng-switch-when="object">
            <ul>
              <li ng-repeat="(key, value) in value">
                <div ng-repeat="schema in [schema.properties[key]]" ng-include="'form_item'"></div>
              <li>
            </ul>
          </div>

          <div ng-switch-when="array">
            <ul>
              <li ng-repeat="value in value">
                <div ng-repeat="schema in [schema.items]" ng-include="'form_item'"></div>
              </li>
              <button ng-click="value.push(clone(schema.items.default))">ny</button>
            </ul>
          </div>
        </ng-switch>
      </div>
    </script>

  </body>
</html>
