<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html ng-app="formModule">
  <head>
    <script type="text/javascript" src="lib/underscore.js"></script>
    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body>
    <!-- takes prop, desc -->
    <script type="text/ng-template" id="form_item">
      <div>
        {{desc.title}}
        <div ng-switch on="desc.type">

		  <input ng-switch-when="bool" ng-model="values[prop]" type="checkbox">

          <input ng-switch-when="string" ng-model="values[prop]">

          <div ng-switch-when="array">
            An array! {{prop}} {{values[prop]}}
            <ul ng-repeat="values in values[prop]">
			  {{values}}
              <li ng-repeat="(prop,desc) in desc.items" ng-include="'form_item'"></li>
            </ul>
			<button ng-click="values[prop].push(clone(desc.default))">ny</button>
          </div>

		  <!-- assume union type -->
		  <div ng-switch-default>
			<select ng-model="values['_' + prop]"
					ng-options="t.title for t in desc.type"
					ng-change="values[prop] = clone(values['_' + prop]['default'])">
			</select>
			<div ng-repeat="desc in [values['_' + prop]]" ng-include="'form_item'">
			</div>
		  </div>

        </div>
      </div>
    </script>

    <div ng-controller="FormCtrl">
	  {{values}}
      <form>
        <ul>
          <li ng-repeat="(prop,desc) in schema" ng-include="'form_item'"></li>
        </ul>
	  </form>
    </div>
  </body>
</html>
