.string {
	border: 1px magenta solid;
	padding: 6px;
}

.bool {
	border: 1px black solid;
	padding: 6px;
}

.object {
	border: 1px red solid;
	padding: 6px;
}

.array {
	border: 1px blue solid;
	padding: 6px;
}

.items {
	border: 1px purple solid;
	padding: 6px;
}

.item {
	border: 1px brown solid;
	padding: 6px;
}

.inner {
	border: 1px pink solid;
	padding: 6px
}

.union {
	border: 1px tan solid;
	padding: 6px
}

.option {
	border: 1px orange solid;
	padding: 6px
}

.title {
	font-weight: bold
}
