body {
  padding: 10px; }

input[type=text] {
  height: 2em;
  margin-bottom: 0px; }
  .item > .string > input[type=text] {
    margin-right: 4px; }

.item-btn {
  margin-top: 2px;
  padding: 0.45em 0.5em 0.2em 0.5em; }

.array > .item-btn {
  margin-bottom: 5px; }

#path > .title {
  display: none; }

#path > .nest {
  padding-bottom: 5px; }
  #path > .nest:not(:last-child) {
    border-bottom: 1px #cccccc solid; }
  #path > .nest > :not(.title) {
    margin-left: 200px; }
  #path > .nest > .title {
    font-weight: bold; }
  #path > .nest > .select-parent {
    padding-bottom: 5px; }

.title {
  font-weight: bold; }

.nest .nest .string {
  display: inline; }

.nest .nest .nest .string-title {
  font-weight: normal;
  display: inline; }
  .nest .nest .nest .string-title:after {
    content: ": "; }

.description {
  display: none; }

.only .description {
  display: inline; }

.union-child > .title {
  display: none !important; }

.item {
  margin: 5px 0px 5px 0px; }

.item > .complex-object {
  border: 1px #cccccc solid;
  padding: 5px; }

.dropdown-enum {
  display: inline;
  padding: 6px; }
  .dropdown-enum > .title, .dropdown-enum > .select-parent {
    display: inline; }

.dropdown-enum {
  display: inline; }
  .dropdown-enum .title {
    display: inline; }

.single > .title {
  display: none; }

.nest .nest .nest .simple-object {
  display: inline;
  border: 0; }
  .nest .nest .nest .simple-object .title {
    display: inline;
    font-weight: normal;
    font-size: 1em; }
    .nest .nest .nest .simple-object .title:after {
      content: ": "; }
  .nest .nest .nest .simple-object > .nest > .title {
    display: none; }
